body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.container {
    color: blue;
    height: 704px;
    width: 704px;
    border: 1px solid blue;
    background: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cell {
    height: 44px;
    width: 44px;
    /* background-color: turquoise; */
    box-sizing: border-box;
    /* border: 1px solid white; */
}
